:root {
    --black: #111;
    --orange: #fd9222;
    --violet: #1e1823;
    --beige: #fcf1e0;
    --white: #fafafa;
    --gray: #4c4c4c;
    --white-2: #fff;

    --font-family: "Montserrat", sans-serif;


}

body {
    font-family: "Montserrat", sans-serif;
    background: var(--white);
    /* width: 1200px; */
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

section {
    padding-bottom: 120px;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

.container {
    width: 1166px;
    padding: 0 15px;
    margin: 0 auto;
}


/* Header */
.container.header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: var(--black);
    text-transform: uppercase;
    margin-right: 4px;
    display: flex;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 34px;
}

.header-logo-images {
    margin-left: 4px;
    /* display: block;
    padding-top: 24px;
    padding-bottom: 32px; */
    /* margin-right: 413px; */

}

.logo-italic {
    font-style: italic;

}

.menu-nav {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;

    flex-grow: 1;
    margin-right: 90px;
}

.nav-list {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--black);

    gap: 24px;
    /* margin-right: 90px; */
    margin-left: auto;
}

.nav-item {
    display: block;
    padding-top: 28px;
    padding-bottom: 36px;
}

.header-social-list {
    display: flex;
    gap: 14px;
}

.social-item {
    display: block;
    padding-top: 24px;
    padding-bottom: 32px;
}

/*----- HERO ----- */
.hero-container {
    border-radius: 30px;
    width: 1136px;
    height: 600px;
    padding: 381px 40px 40px;
    background: rgba(17, 17, 17, 0.6);
}

.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: var(--white-2);
    margin-bottom: 32px;
    max-width: 484px;
}

.hero-btn,
.hero-link {
    font-weight: 600;
    font-size: 14px;
    color: var(--white-2);
}

.hero-btn {
    background: var(--orange);

    border-radius: 100px;
    border: none;
    padding: 14px 0;
    width: 144px;
    height: 45px;

    margin-right: 14px;
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--beige);
    color: var(--orange);
}

.hero-link {
    border: 1px solid var(--white-2);
    border-radius: 100px;
    padding: 14px 40px;
    width: 183px;
    height: 45px;
    margin-right: 585px;
    background-color: transparent;
}

.hero-link:hover,
.hero-link:focus {
    border-color: var(--orange);
    color: var(--orange);
}


.hero-scrol {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.03em;
    color: var(--white-2);
    margin-left: auto;
}

/*-----BENEFITS-----*/
.benefits-sec {
    padding-top: 80px;
}

.benefits-sec .container {
    background: var(--violet);
    width: 100%;
    padding: 0;
    /* max-width: 1200px; */
}

.benefits-container {
    max-width: 1166px;
    padding: 50px 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    gap: 88px;
}

.benefits-card {
    display: block;
    width: calc((100% - 2 * 88px)/3);
}

.benefits-card-title {
    font-weight: 600;
    font-size: 18px;
    color: var(--white-2);
    margin-bottom: 18px;
}

.benefits-text {

    color: rgba(255, 255, 255, 0.7);
}


/*----- INGREDIENTS-----*/
.sec-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--black);
}

.ingredients-title {
    width: 412px;
    margin: 0 362px 28px;
    text-align: center;
}

.title-orange {
    color: var(--orange);
    text-transform: uppercase;
}

.ingredients-text {
    margin: 0 325px 50px;
    text-align: center;
}

.ingredients-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 24px;

}

.ingredients-card {
    width: calc((100% - 3 * 32px) / 4);
    padding: 28px 23px;
    border-radius: 15px;
    background: var(--white-2);

}

.ingredients-img {
    margin-bottom: 36px;
}

.ingredients-card-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: var(--black);
    text-transform: uppercase;
    margin-left: 5px;
}

/*----- MADE-----*/

.preparation-block {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.preparation-reciept {
    padding: 32px;
    background: var(--white-2);
    border-radius: 15px;
}

.preparation-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: var(--black);

    max-width: 350px;
    margin-bottom: 28px;
}

.preparation-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.preparation-item {
    display: flex;

}

.icon-mark-disc {
    display: block;
    margin-top: 5px;
    width: 8px;
    height: 8px;
}

/* .title-card {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--black);
    margin: 0 auto -50px;
} */

/*----- OUR PRODUCTS -----*/
.products-tile {
    margin-bottom: 50px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 18px;
    row-gap: 24px;
}

.product-card {
    width: calc((100% - 3 * 18px) / 4);
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;

    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    background: var(--white-2);
}

.product-img {
    margin: 0 auto 8px;
}

.product-card-title {
    margin-bottom: 2px;
}

.product-dscr {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);

    margin-bottom: 18px;
}


.product-btn {
    border-radius: 100px;
    /* background-color: transparent; */
    background: var(--white);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    padding: 8px 20px;


    font-weight: 600;
    font-size: 14px;
    color: var(--black);

}

/*----- TOP SELLERS -----*/
.sellers {}

.sec-title {}

.sellers-tile {
    margin-bottom: 50px;
}

.sellers-lists {
    display: flex;
    gap: 16px;
    margin: 0 auto;
}

.sellers-item {
    border-radius: 15px;
}

.sellers-img {}

.title-card {}

.topsel-card-descr {
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    border-left: 1px solid rgba(17, 17, 17, 0.1);
    border-right: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 0 0 15px 15px;
    background: var(--white-2);
    padding: 28px auto;
    padding: 28px;
    text-align: center;
}

.sellers-card-title {}

/*----- REVIEWS -----*/
.review-container {
    display: flex;
    flex-wrap: wrap;
}

.reviews-title {
    margin: 0 auto 50px;
}

.reviews-list {
    display: flex;
    gap: 28px;
    align-items: center;
}

.reviews-card {
    width: calc((100% - 2 * 28px) / 3);
    margin-bottom: 50px;
}

.photo-person {
    position: relative;
    bottom: -42px;
    margin: 0 auto;
}

.title-card.name-reviews-card {
    text-transform: none;
    text-align: center;
    margin-bottom: 24px;

}

.reviews-card-dscr {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    height: 200px;
    padding: 56px 24px 24px;

    box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
    background: var(--white-2);
}


.reviews-text {
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.review-btn {
    font-weight: 600;
    font-size: 18px;
    color: var(--black);

    border: 1px solid var(--orange);
    border-radius: 100px;
    padding: 14px 40px;
    width: 222px;
    height: 50px;
    background-color: var(--white);

    margin: 0 auto;
}

.review-btn:hover,
.review-btn:active {
    background: var(--orange);
    color: var(--white-2);
}

/* Footer */
.footer {
    background: var(--violet);
}

.footer-div {}

.footer-div-contact {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 50px 0;
}

.footer-chocolate-title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: var(--orange);

    max-width: 300px;
    margin-right: 510px;
    /* flex-grow: 1; */
}

.chocolate-text-white {
    color: var(--white-2);
}

.footer-socialnet-block {
    margin-right: 50px;
}

.footer-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    /* text-align: center; */
    color: var(--white-2);
    margin-bottom: 14px;
}

.footer-contact-block {
    margin-right: auto;
}

.footer-contact-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--white-2);
}

.footer-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--white-2);

    cursor: pointer;
}

.footer-social-list {
    display: flex;
    margin-right: 50px;
}

.footer-social-item {}

.footer-social-link {}

.footer-contact-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.footer-contact-link {}

.footer-div-nav {
    display: flex;
    align-items: center;
    padding: 24px 0 50px;
}

.footer-nav {}

.footer-nav-list {
    display: flex;
    column-gap: 24px;
}

.footer-nav-item {}

.footer-mail-input {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.3);
    background-color: transparent;

    border: 1.50px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding: 13px 24px;
    width: 313px;
    height: 52px;

    margin-right: 8px;
    margin-left: auto;
}

.footer-subscribe-btn {
    font-weight: 600;
    font-size: 14px;
    color: var(--white-2);

    border-radius: 100px;
    border: none;
    padding: 17px 0;
    width: 137px;
    height: 52px;
    background: var(--orange);
    margin-right: 0;
    /* margin-left: auto; */
}

.footer-subscribe:hover,
.footer-subscribe:focus {
    background: var(--beige);
    color: var(--orange);
}